html, body {
  height: 100%;
  color: #000;
  background: rgb(230, 227, 226);
  margin : 20px;
}

h1 {
  margin: 20px 0 15px 0;  
}

#main {
  width: 600px;
  margin: 0 auto;
  text-align: left;
}

ul {
  list-style: none;
}

ul>li:hover {
  background-color: #F5F5F5;
}

.form-inline .form-control {
  width: 50%;
  margin-left: 80px;
}



.icon {
  margin: 6px 10px 6px 0;
}



.form-inline {
  margin-bottom: 2em;
}

.done {
  color:rgb(63, 189, 101);
}